* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75em 0;
  border: 0.0625em solid black;
  border-radius: 0.625em;
  padding: 0.9375em;
}

.task-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9375em;
}

.task-right {
  display: flex;
  align-items: center;
  gap: 0.6253em;
}

.delete-btn, .edit-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.delete-btn img {
    width: 1.5625em;
    height: auto;
    transform: 0.2s ease-in-out;
}

.edit-btn img {
    width: 1.25em;
    height: auto;
    transform: 0.2s ease-in-out;
}

.delete-btn img:hover, .edit-btn img:hover {
    transform: scale(1.2);
}

.task-name {
    font-size: 20px;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox span {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    border: 0.0625em solid black;
    position: relative;
    cursor: pointer;
    transform: all 0.2s ease-in-out;
}

.custom-checkbox input:checked + span {
    background-color: green;
    border-color: #4CAF50;
}

.custom-checkbox input:checked + span::after {
    content: "✔";
    font-size: 1.0625em;
    color: white;
    position: absolute;
    margin-left: 0.125em;
}

