.sort-by-dropdown {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  align-self: flex-end;
  margin-top: 20px;
}

.label {
  margin-right: 8px;
  font-size: 14px;
  color: #aaa;
}

.dropdown {
  background: #222;
  border: 1px solid #444;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown:focus {
  outline: none;
  border-color: #007bff;
}
